* {
  padding: 0;
  margin: 0;
  color: #eaffff;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  overflow: auto;
}

#Showcase {
  background: url(./img/starryNight2.jpeg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

#jsImage {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

#branding p {
  margin-bottom: 0;
}

#jsTitle {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 25px;
}
