* {
  padding: 0;
  margin: 0;
  color: #eaffff;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}

#Showcase {
  background: url(./img/starryNight2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#jsImage {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding-top: 25px;
}

#branding p {
  margin-bottom: 0;
}

#jsTitle {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 25px;
}
